@model IEnumerable<CRUD_Operation_In_MVC_Core.Model.Db.Items>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-condensed table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Itemname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Itemname)
                </td>
                <td>
                    @if (item.Picture != null && System.IO.File.Exists(System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot", "images\\" + item.Picture)))
                    {
                        <img src="~/Images/@Html.DisplayFor(modelItem => item.Picture)" alt="@item.Itemname"
                             width="100" height="100" class="img-responsive" style="border:1px solid #808080" />
                        <br />
                        @Html.ActionLink("Change Picture", "UploadFile", new { id = item.Itemcode })
                    }
                    else
                    {
                        <img src="~/Images/Cross.png" alt="No Image" width="100" height="100" class="img-responsive" style="border:1px solid #808080" />
                        <br />
                        @Html.ActionLink("Upload Picture", "UploadFile", new { id = item.Itemcode })
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Itemcode" class="btn btn-sm bg-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Itemcode" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Itemcode" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
